@model List<Session20.APIControllers.Models.Person>
@{
    ViewData["Title"] = "Index";
}
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>FirstName</td>
            <td>LastName</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
        </tr>
        }
    </tbody>
</table>

<form asp-action="AddPerson">
    <div>
        <input name="FirstName" type="text"/>
        <input name="LastName" type="text"/>
        <input type="submit" value="save"/>
    </div>
</form>